#piramid {
    text-align: right;
    font-family: "Courier New", monospace;
    line-height: 0;
}



.LineBrick {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.ExistBrick {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: darkred;
}